# Python
__pycache__/
*.pyc

# HuggingFace cache
hf_cache/
.cache/

# Datasets / outputs
modernbert_dataset/
data/
*.arrow
*.bin

# VS Code
.vscode/

# Environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db